.input-group {
	margin-top:4px;
	margin-bottom:4px;
	float: right;
}
.input-group-btn > .btn {
    position: relative;
}
.input-group-btn > .btn + .btn {
    margin-left: -1px;
}
.input-group-btn > .btn:hover, .input-group-btn > .btn:focus, .input-group-btn > .btn:active {
    z-index: 2;
}
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
    margin-left: -1px;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: -1px;
}

.btn {
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    /* font-weight: 400; */
    line-height: 1.42857;
    padding: 6px 12px;
    text-align: center;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
.btn:hover, .btn:focus {
    /* color: #333; */
    text-decoration: none;
}
.btn:active, .btn.active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}

.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}
.btn-default:active{
    background-image: none;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 14px;
    height: 36px;
    padding: 6px 12px;
    /* width: 250px; */
}
.form-control:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

